<ion-header>
    <ion-navbar>
        <ion-title>{{ "TRAIN" | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-header no-border>
    <ion-toolbar>
        <training-stats #trainingStats></training-stats>    
    </ion-toolbar>
</ion-header>

<!--
<ion-header no-border>
    <ion-toolbar>
        <div class="boxes">
            <div class="box box_left">
                <div class="cards cards_0">52</div>&nbsp;
            </div>
            <div class="box box_left">
                <div class="cards cards_1">100</div>&nbsp;
            </div>
            <div class="box box_last">
                <div class="cards cards_2">58</div>&nbsp;
            </div>
        </div>
    </ion-toolbar>
</ion-header>
-->

<ion-content padding [style.backgroundColor]="session.settings.background">
    <ion-card *ngIf="currentCard" [ngClass]='{
            "slidingOutRight": (animationClass=="slidingOutRight"),
            "slidingOutLeft": (animationClass=="slidingOutLeft"),
            "flippingOut": (animationClass=="flippingOut"), 
            "flippingIn": (animationClass=="flippingIn")
        }' [style.backgroundColor]="flipped ? session.settings.card.back.backgroundColor : session.settings.card.front.backgroundColor"
        [style.color]="flipped ? session.settings.card.back.color : session.settings.card.front.color">
        <ion-card-content>
            <div>
                {{currentCard.deck}}
            </div>
            <hr />
            <h2 class="content" *ngIf="!flipped">
                {{currentCard.front}}
            </h2>
            <h2 class="content" *ngIf="flipped">
                {{currentCard.back}}
            </h2>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer no-border>
    <ion-toolbar>
        <ion-row>
            <div *ngIf="currentCard">
                <ion-col>
                    <button ion-button (click)="dontKnowClick($event)" icon-left clear small color="danger">
                        <ion-icon name="thumbs-down"></ion-icon>                        
                        {{ "DONTKNOW" | translate }}                        
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button (click)="flipClick($event)" icon-left clear small color="dark">
                        <ion-icon name="sync"></ion-icon>
                        {{ "FLIP" | translate }}
                    </button>
                </ion-col>
                <ion-col>
                    <button ion-button (click)="knowClick($event)" icon-right clear small color="secondary">
                        {{ "KNOW" | translate }}
                        <ion-icon name="thumbs-up"></ion-icon>                       
                    </button>
                </ion-col>
            </div>
        </ion-row>
    </ion-toolbar>
</ion-footer>