<ion-header>
    <ion-navbar>
        <ion-title>{{ "TRAIN" | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-header no-border>
    <ion-toolbar>
        <div class="statspanel know">7</div>
        <div class="statspanel dontknow">10</div>
        <div class="statspanel neutral">20</div>
    </ion-toolbar>
</ion-header>

<ion-content padding [style.backgroundColor]="session.settings.background">
    <ion-card [style.backgroundColor]="flipped ? session.settings.card.back.backgroundColor : session.settings.card.front.backgroundColor"
        [style.color]="flipped ? session.settings.card.back.color : session.settings.card.front.color">
        <ion-card-header [style.backgroundColor]="flipped ? session.settings.card.back.backgroundColor : session.settings.card.front.backgroundColor"
            [style.color]="flipped ? session.settings.card.back.color : session.settings.card.front.color">
            Name of Deck
            <ion-note item-right [style.color]="flipped ? session.settings.card.back.color : session.settings.card.front.color">
                8/37
            </ion-note>
        </ion-card-header>
        <ion-item [style.backgroundColor]="flipped ? session.settings.card.back.backgroundColor : session.settings.card.front.backgroundColor"
            [style.color]="flipped ? session.settings.card.back.color : session.settings.card.front.color">
            <h2 *ngIf="flipped" [style.color]="flipped ? session.settings.card.back.color : session.settings.card.front.color">
                {{currentCard.front}}
            </h2>
            <h2 *ngIf="!flipped" [style.color]="flipped ? session.settings.card.back.color : session.settings.card.front.color">
                {{currentCard.back}}
            </h2>
        </ion-item>
        <!--
        <ion-card-content>
            <p>Wait a minute. Wait a minute, Doc. Uhhh... Are you telling me that you built a time machine... out of a DeLorean?!
                Whoa. This is heavy.</p>
        </ion-card-content>
-->
    </ion-card>
</ion-content>

<ion-footer no-border>
    <ion-toolbar>
        <ion-row>
            <div *ngIf="currentCard">
                <ion-col>
                    <button (click)="knowClick($event)" ion-button icon-left clear small color="secondary">
                        <ion-icon name="thumbs-up"></ion-icon>
                        <div>{{ "KNOW" | translate }}</div>
                    </button>
                </ion-col>
                <ion-col>
                    <button (click)="flipClick($event)" ion-button icon-left clear small color="dark">
                        <ion-icon name="sync"></ion-icon>
                        <div>{{ "FLIP" | translate }}</div>
                    </button>
                </ion-col>
                <ion-col center text-center>
                    <button (click)="dontKnowClick($event)" ion-button icon-right clear small color="danger">
                        <ion-icon name="thumbs-down"></ion-icon>
                        <div>{{ "DONTKNOW" | translate }}</div>
                    </button>
                </ion-col>
            </div>
        </ion-row>
    </ion-toolbar>
</ion-footer>