<ion-header>
    <ion-navbar>
        <ion-title>
            {{ "STATS" | translate }}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let session of sessions">
        <ion-card-header>
            <h2>{{session.ago}}</h2>
            <p>{{session.duration}}</p>
            <p>{{session.stack_size}} <span *ngIf="(session.cards_known == 1)">{{ "CARD" | translate }}</span><span *ngIf="(session.cards_known != 1)">{{ "CARDS" | translate }}</span>&nbsp;{{ "IN_STACK" | translate }}</p>
        </ion-card-header>

        <ion-card-content>
            <ion-row>
                <ion-col>
                    <button ion-button icon-left clear small color="secondary">
                        <ion-icon name="thumbs-up"></ion-icon>
                        <div>{{session.cards_known}} <span *ngIf="(session.cards_known == 1)">{{ "CARD" | translate }}</span><span *ngIf="(session.cards_known != 1)">{{ "CARDS" | translate }}</span></div>
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <button ion-button icon-left clear small color="danger">
                        <ion-icon name="thumbs-down"></ion-icon>
                        <div>{{session.cards_unknown}} <span *ngIf="(session.cards_unknown == 1)">{{ "CARD" | translate }}</span><span *ngIf="(session.cards_unknown != 1)">{{ "CARDS" | translate }}</span></div>
                    </button>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>